<div class="background">
  <div class="white">
    <a name="about"></a><h2>What is <span itemprop="name">Landlab</span>?</h2>
    <p>
      Landlab is a Python-based modeling environment that allows scientists and students to build numerical landscape models. Designed for disciplines that quantify earth surface dynamics such as geomorphology, hydrology, glaciology, and stratigraphy, it can also be used in related fields.
    </p>
    <p>
      Landlab provides components to compute flows (such as water, sediment, glacial ice, volcanic material, or landslide debris) across a gridded terrain. With its robust, reusable components, Landlab allows scientists to quickly build landscape model experiments and compute mass balance across scales.
    </p>
    <p>
      Landlab is described in more detail by Hobley et al. in the 2017 paper <a target="_blank" href="http://www.earth-surf-dynam.net/5/21/2017/esurf-5-21-2017.html">Creative Computing with Landlab</a>. <a target="_blank" href="https://landlab.readthedocs.io/en/v2_dev/#citing-landlab">This part of the documentation</a> describes how to cite Landlab.
    </p>
  </div>
</div>
<div class="background">
  <div class="white">
    <a name="landlab2"></a><h2>Landlab 2.0</h2>
    <p>
      On December 20th, 2019, we transitioned from Landlab 1.11 to Landlab 2.0-beta. This is a breaking change, and it drops support for Python 2 versions. We expect it will have little effect on most users, but if it affects you, please <a target="_blank" href="https://github.com/landlab/landlab/issues">make an issue</a> on GitHub to get help.
    </p>
    <p>
      After the Landlab 2.0-beta version is released, we will not accept pull requests into the 1.0 version. We will keep Landlab 2.0 in beta release until the publication describing this version is published (expected Spring 2020). At that point we will make a final version 2.0.0 release. 2.0-beta is better and more stable than 1.11, it has more features, and its <a href="https://landlab.readthedocs.io/en/latest">documentation</a> has been completely overhauled.
    </p>
  </div>
</div>

<div class="background">
  <div class="white">
    <h2>Examples</h2>
    <p>
      The following models can easily be built with Landlab's current capabilities:
      <li>
        A <a href="https://mybinder.org/v2/gh/landlab/landlab/release?filepath=notebooks/tutorials/fault_scarp/landlab-fault-scarp.ipynb" target="_blank">landscape evolution model</a> using linear diffusion and the stream-power model
      </li>
      <li>
        A model that explores the <a href="https://mybinder.org/v2/gh/landlab/landlab/release?filepath=notebooks/tutorials/flexure/lots_of_loads.ipynb" target="_blank">flexural response</a> to the growth and recession of glaciers
      </li>
      <li>
        A model that <a href="https://www.youtube.com/watch?v=4Ltr6HRUrQI" target="_blank">routes hydrographs across a watershed</a> based on rainfall inputs
      </li>
    </p>
    <p>
      See <a href="https://mybinder.org/v2/gh/landlab/landlab/release?filepath=notebooks/welcome.ipynb" target="_blank">this page</a> for an index of all available Jupyter notebooks for research and teaching built with Landlab.
    </p>
  </div>
</div>
<div class="background">
  <div class="white">
    <a name="install"></a><h2>Installing Landlab</h2>
    <p>
      To install Landlab, you will need a Python distribution that includes
          <li>Python 3.5+</li>
          <li>an up-to-date Python package manager (such as conda or PyPI, aka "pip")</li>
    </p>

    <p> To fulfill these requirements we recommend a preassembled scientific Python
    distribution such as <a href="https://www.anaconda.com/distribution/">Continuum
    IO’s Anaconda.</a>

    As well as the Python package and associated libraries, the Anaconda
    installer also puts a suite of useful Python tools on your machine, including
    a graphical interface for coding. However, what we are mostly after is
    the very powerful command line tool for managing your system Python called
    <code>conda</code>. This gets installed automatically, and we'll be
    exploiting it below. (Note that you can also install <code>conda</code>
    without all the associated tools - AKA "<code>miniconda</code>" - if
    you want, via other approaches.)</p>

    <p>
      Once your Python distribution is complete and up to date, install Landlab.
    </p>

   <h3>Installation Options</h3>
   <p>
     You need to choose between two installation options for Landlab at this stage:
   </p>
   <p>
		 <li><a href="https://landlab.readthedocs.io/en/v2_dev/install/index.html">Precompiled version</a> - installation of a pre-compiled Landlab release. It's quick and easy but you will not be able to access and edit the code itself. You will be able to mix and match Landlab components and change paramter values. If you are uncertain, this is the choice you want.</li>
		 <li><a href="https://landlab.readthedocs.io/en/v2_dev/development/install/index.html">Developer Installation</a> - forking Landlab's Github repository and installing from source code. This is the preferred option if you want to modify code and commit back to Landlab. If you choose this option, please also check out the <a href="https://landlab.readthedocs.io/en/v2_dev/development/index.html">Landlab guide for developers</a>.</li>
   </p>
  </div>
</div>
