<div class="background">
  <div class="white">
    <a name="about"></a><h2>What is <span itemprop="name">Landlab</span>?</h2>
    <p>
      Landlab is a Python-based modeling environment that allows scientists and students to build numerical
      landscape models. Designed for disciplines that quantify earth surface dynamics such as
      geomorphology, hydrology, glaciology, and stratigraphy, it can also
      be used in related fields.
    </p>
    <p>
      Landlab provides components to compute flows (such as water, sediment, glacial ice, volcanic
      material, or landslide debris) across a gridded terrain. With its robust, reusable components, Landlab allows
      scientists to quickly build landscape model experiments and compute mass balance across scales.
    </p>
    <p>
      Landlab is described in more detail by Hobley et al. in the 2017 paper <a target="_blank" href="http://www.earth-surf-dynam.net/5/21/2017/esurf-5-21-2017.html">Creative Computing with Landlab</a>.
    </p>
  </div>
</div>
<div class="background">
  <div class="white">
    <h2>Examples</h2>
    <p>
      The following models can easily be built with Landlab's current capabilities:
      <li>
        A <a href="http://nbviewer.ipython.org/github/landlab/tutorials/blob/master/fault_scarp/landlab-fault-scarp.ipynb" target="_blank">landscape evolution model</a> using linear diffusion and the stream-power model
      </li>
      <li>
        A model that explores the <a href="http://nbviewer.ipython.org/github/landlab/tutorials/blob/master/flexure/lots_of_loads.ipynb" target="_blank">flexural response</a> to the growth and recession of glaciers
      </li>
      <li>
        An <a href="https://raw.githubusercontent.com/wiki/landlab/landlab/images/Sai_AGU_2015.jpg" target="_blank">ecohydrology model</a> in which vegetation on two sides of a valley grows and dies in response to stochastic storms and solar forcing throughout the year
      </li>
      <li>
        A model that <a href="https://www.youtube.com/watch?v=4Ltr6HRUrQI" target="_blank">routes hydrographs across a watershed</a> based on rainfall inputs
      </li>

    </p>
  </div>
</div>
<div class="background">
  <div class="white">
    <a name="install"></a><h2>Installing Landlab</h2>
    <p>
      To install Landlab, you will need a Python distribution that includes
          <li>Python 2.6+ or 3.5+</li>
          <li>NumPy 1.9 or greater</li>
          <li>SciPy 0.14 or greater</li>
          <li>netCDF4 (will run without, but recommended)</li>
          <li>Cython (only required if building Landlab from source code)</li>
          <li>an up-to-date Python package manager (such as PyPI, aka "pip")</li>
          <li>a compiler that Python can recognise (through the Xcode app on a mac)</li>
    </p>

    <p> To fulfill these requirements we recommend a preassembled scientific Python
    distribution such as <a href="https://www.continuum.io/downloads">Continuum
    IO’s Anaconda.</a> Follow this link for instructions on <a href="https://github.com/landlab/landlab/wiki/Installing-Python">installing your Python distribution.</a></p>

    <p>
      Once your Python distribution is complete and up to date, install Landlab.
    </p>

   <h3>Installation Options</h3>
   <p>
		 <li>Using Anaconda - installation of a pre-compiled Landlab release - it's quick but you will not be able to access and edit the code</li>
		 <li>Developer Installation - forking Landlab's github repository - preferred option if you want to modify code and commit back to Landlab</li>
   </p>

   <h3>Installing Landlab Using Anaconda</h3>
   <p>
     We recommend running Landlab inside its own conda environment. This keeps it from interfering with any other Python software you may have on your machine.
   </p>
   <p>
     To do this, open a terminal (or, on a PC, the command prompt—make sure it is a true DOS "cmd" prompt, not, e.g., Cygwin) and type the following:
   </p>
   <p>
     <code>> conda create -n landlab_env landlab -c conda-forge</code>
   </p>
   <p>
     You can now activate this environment and use Landlab inside it. Do this with:
   </p>
   <p>
     <code>> conda activate landlab_env</code>
   </p>
   <p>
     And proceed to use Landlab. When you're done, close up your environment with:
   </p>
   <p>
     <code>> conda deactivate</code>
   </p>
   <p>
     There are also two install options we don't formally recommend. You can still install Landlab directly without an environment using
     <code>conda install landlab -c conda-forge</code>,
     and there is also an up-to-date <code>pip</code> distribution for users who would prefer that.
   </p>
   <p>
     If you would like more <a href="https://github.com/landlab/landlab/wiki/Installing-Landlab-with-Anaconda">detailed instructions</a> for installing Landlab with Anaconda's Python distribution,
     follow <a href="https://github.com/landlab/landlab/wiki/Installing-Landlab-with-Anaconda">this link</a>.
   </p>

   <h3>
     Developer Installation—Installing from Landlab Source Code
   </h3>
   <p>
     For users who have gotten a feel for Landlab and want to
     keep up with the absolute latest Landlab developments and contribute code back to the Landlab repository,
     <a href="https://github.com/landlab/landlab/wiki/Installing-Landlab-from-source-code-(%22developer-install%22)">follow these directions</a>.
   </p>
  </div>
</div>

<div class="background">
  <div class="white">
    <a name="update"></a><h2>Updating Landlab</h2>

    <p>
      As Landlab is still relatively early in its development
      cycle, the code will update fairly often with frequent new releases.
      To take advantage of new features and new library
      additions, we recommend you update Landlab regularly.
    </p>

    <p>
      Whenever you update Landlab, we strongly recommend you <strong>also update your
      Python package!</strong> For Anaconda, use the conda package manager from a command
      prompt.
      Assuming you have Landlab installed in a conda environment, be sure to activate the environment first.
      [Remember, on a PC, do all this in a Command Prompt window or through Anaconda; do not use Cygwin.]
    </p>
    <p>
      <code>
        > conda update --all
      </code>
    </p>
    <p>
      Once you've done this, simply update landlab, once again specifically from the <code>conda-forge</code> conda channel:
    </p>
    <p>
      <code>
        > conda update landlab -c conda-forge
      </code>
    </p>
    <h3>
      Older Installations of Landlab
    </h3>
    <p>
      We used to recommend installing landlab outside an environment, using either the <code>pip</code> package manager or through a conda channel called <code>-c landlab</code>. Notably, if you installed through the conda <code>landlab</code> channel rather than <code>conda-forge</code>, you won't be able to access updates any more. If you're now using Landlab inside its own environment, having these older versions around won't matter too much. However, to minimise confusion, you may wish to remove them. Simply do this:
    </p>
    <p>
      <code>
        > pip uninstall landlab
      </code>
    </p>
    <p>
      and/or
    </p>
    <p>
      <code>
        > conda uninstall landlab
      </code>
    </p>
    <p>
      from outside your environment. The Landlab installation inside your environment should be unaffected.
    </p>
    <p>
      If you have <a href="https://github.com/landlab/landlab/wiki/Updating-Landlab" target="_blank">errors during install, click here</a> for guidance on how to resolve them.
    </p>

  </div>
</div>
