*, *:before, *:after {
  box-sizing: border-box;
}
body {
  // width: 100vw;
  background: url(../assets/LandlabClarence.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header {
  .white {
    height: 24vw;
    padding: 1em;
  }
}

.tag {
  font-size: 2.1vw;
  position: relative;
  top: 12.6vw;
}

img {
  float: left;
}
img:after {
  clear: both;
}

.logo {
  width: 20vw;
}

nav {
  position: relative;
  top: 13.3vw;
  line-height: 5vh;
  div {
    display: inline-block;
    background-color: $white;
    margin: 0 .09vw;
    a {
      font-size: 1.32vw;
      margin: 1.3em;
    }
  }
}
